<br />
<!-- select -->
<div [formGroup]="dfGroup">
  <label for="{{ fieldConfig.formElementControlName }}">
    {{ fieldConfig.formElementLabel }}:
  </label>
  <br />
  <select
    formControlName="{{ fieldConfig.formElementControlName }}"
    id="{{ fieldConfig.formElementControlName }}"
    name="{{ fieldConfig.formElementControlName }}"
    [multiple]="fieldConfig.formElementSelectMultiple"
  >
    <option
      [ngValue]="null"
      disabled
    >
    <ng-template [ngIf]="!fieldConfig.formElementSelectMultiple" [ngIfElse]="multi" >
      Choose one:
    </ng-template>
    <ng-template #multi>
      Choose at least one:
    </ng-template>
  </option>

    <option
      *ngFor="let item of fieldConfig.formElementValues"

      [ngValue]="item.itemKeyName"
    >
      {{ item.itemValue }}
    </option>
  </select>
</div>
