<br />
<!-- radio-button -->
<!-- I couldn’t neither interpolate nor use property-binding for the attribute "type" of an input tag. -->

<div [formGroup]="dfGroup">
  <!-- {{ fieldConfig.formElementLabel }}: -->


  <!-- <label *ngFor="let item of fieldConfig.formElementValues">
        <input
          type="radio"
          [value]="item.itemKeyName"
          [formControlName]="fieldConfig.formElementControlName"
        />
        {{ item.itemValue }}
      </label> -->


  <!-- <mat-form-field> -->
    <mat-label> {{ fieldConfig.formElementLabel }}: </mat-label>
    <br />
    <mat-radio-group 
      [formControlName]="fieldConfig.formElementControlName"
      aria-label="Set the Item Status" 
      >
      <mat-radio-button color="primary"
      *ngFor="let item of fieldConfig.formElementValues"
      [value]="item.itemKeyName"
      >
        "{{ item.itemValue }}"
      </mat-radio-button>
    </mat-radio-group>
  <!-- </mat-form-field> -->
</div>
